.container {
  width: 75%;
  background-color: var(--primary-color);
  padding: 2rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 1rem;
  padding-bottom: 1rem;
}
.buttonForm {
  width: 50%;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.5rem;
  width: 100%;
}

input {
  border: 0px;
  padding: 1rem;
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

label {
  font-weight: bold;
}
h1,
h2,
h3,
h4,
p {
  margin: 0.5rem;
}

@media (max-width: 768px) {
  .buttonForm {
    width: 100%;
  }

  h3 {
    margin: 0;
  }
}
