.verticalFather {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: space-evenly;
}

.verticalFather img {
  width: 45%;
  min-height: 50vh;
}

.verticalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 45%;
}

h3,
h4,
p,
span {
  color: var(--dark-color);
}

.expandedCard {
  position: fixed;
  top: 23%;
  left: 15%;
  transform: translate(-50%, -50%);
  width: 75%;
  /* max-width: 800px; */
  height: auto;
  max-height: 90vh;
  background: var(--light-color);
  border-radius: 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 1rem;
  cursor: pointer;
  box-sizing: border-box;
}

.expandedContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.backgroundBlur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semitransparente */
  backdrop-filter: blur(10px); /* Efecto de desenfoque */
  z-index: 999; /* Asegúrate de que esté detrás de la expandedCard */
  display: none; /* Oculto por defecto */
}

.backgroundBlur.visible {
  display: block; /* Muestra el fondo cuando está activo */
}

@media (max-width: 768px) {
  .verticalFather {
    gap: 2rem;
  }
  .verticalFather img {
    min-height: auto;
    width: 100%; /* Reducir el tamaño de la imagen en móviles */
  }

  .verticalContainer {
    padding-top: 0px; /* Reducir el padding en móviles */
    gap: 2rem; /* Reducir el espacio entre tarjetas */
    width: 100%;
  }

  .cardHorizontal {
    padding: 0.5rem; /* Reducir el padding en móviles */
  }

  .contentContainer {
    padding-left: 10px; /* Reducir el padding en móviles */
  }

  .expandedCard {
    padding: 1rem;
    top: 15%;
    left: 9%;
  }
}

/* Media Queries para pantallas muy pequeñas (móviles) */
@media (max-width: 480px) {
  .cardHorizontal {
    width: 100%; /* Ancho completo en móviles */
  }

  .contentContainer h4 {
    font-size: 1.2rem; /* Reducir el tamaño de la fuente en móviles */
  }

  .contentContainer p {
    font-size: 0.9rem; /* Reducir el tamaño de la fuente en móviles */
  }

  .expandedCard {
    padding: 0.5rem; /* Reducir el padding en móviles */
  }
  .verticalFather {
    padding: 1rem;
  }
}
